type: bluemix
server:
  displayName: United Kingdom
  name: eu-gb
  host: eu.apiconnect.ibmcloud.com
org:
  url: 'https://eu.apiconnect.ibmcloud.com/v1/orgs/58497f470cf25a07b6be7329'
  id: 58497f470cf25a07b6be7329
  name: sakibcaibmcom-sakib-uk
  status: active
  orgType: apiProvider
  displayName: sakib@ca.ibm.com (sakib-uk)
  externalOrgId: 1bbfeca6-137d-46f4-ada7-d847a962c0f8
  externalInviteOverride: 'https://new-console.eu-gb.bluemix.net/apis/catalog/invitation'
  externalSpaceId: 1bbfeca6-137d-46f4-ada7-d847a962c0f8
  externalNativeOrgId: 520ed572-b6c5-45a8-b240-fe940b659e5f
  advPortalOverride: true
  extUaaAuthenticated: false
  requiresSSLClientCertCheck: false
  dormant: false
catalog:
  id: 58497f470cf25a07b6be7335
  orgId: 58497f470cf25a07b6be7329
  name: Sandbox
  shortName: sb
  owner:
    id: 577e7a0c0cf259716ba8986d
    username: sakib@ca.ibm.com
    context: apimanager
    idpId: 58335d5ed20e47053bf50fd0
    email: sakib@ca.ibm.com
    firstName: Sadman Sakib Hasan
    lastName: ''
    status: ACTIVE
    lastLoginTime: '2016-12-08T15:55:13.598+0000'
    url: 'https://eu.apiconnect.ibmcloud.com/v1/users/577e7a0c0cf259716ba8986d'
  apiCenter: false
  baseUrl: 'https://api.eu.apiconnect.ibmcloud.com/sakibcaibmcom-sakib-uk/sb'
  portalType: BASIC
  portalUrl: 'https://developer.eu.apiconnect.ibmcloud.com/sakibcaibmcom-sakib-uk/sb'
  advPortalUrl: 'https://sb-sakibcaibmcom-sakib-uk.developer.eu.apiconnect.ibmcloud.com'
  gatewayType: DataPowerGateway
  idp: 58497f470cf25a07b6be7336
  idps:
    - 58497f470cf25a07b6be7336
  availableRoles:
    - developer
    - viewer
  default: false
  autoDeploy: true
  gatewayClusterUrl: /gatewayClusters/PRODAPIC_APIMGMT_GATEWAY
  restrictedDeployment: false
  invitationEnabled: true
  selfSignUpEnabled: true
  spaceEnabled: false
  spaceIds:
    - 58497f470cf25a07b6be733e
  testAppEnabled: true
  testAppCredentials:
    clientId: 3fcd845d-e135-43fe-b379-fc5b3a52c2bd
    clientSecret: fM7lT7yY7yF7yE7fV4nX1bP0uB7dD7mY1hF0xE7sD6dA4uF4pG
  createdAt: '2016-12-08T15:41:59.534+0000'
  updatedAt: '2016-12-08T15:41:59.534+0000'
  createdBy: apim-ops@wwpdl.vnet.ibm.com
  updatedBy: apim-ops@wwpdl.vnet.ibm.com
  url: >-
    https://eu.apiconnect.ibmcloud.com/v1/orgs/58497f470cf25a07b6be7329/environments/58497f470cf25a07b6be7335
  productDeploymentApprovalRequiredStates: []
  orgName: sakibcaibmcom-sakib-uk
space:
  none: true
app:
  none: true
id: 7b8d90ad-f604-4013-9364-a30079370351
target: 1.0.0
