type: bluemix
server:
  displayName: US South
  name: us-south
  host: us.apiconnect.ibmcloud.com
org:
  url: 'https://us.apiconnect.ibmcloud.com/v1/orgs/583345b30cf2aef8bc9bfc53'
  id: 583345b30cf2aef8bc9bfc53
  name: sakibcaibmcom-dev
  status: active
  orgType: apiProvider
  displayName: sakib@ca.ibm.com (dev)
  externalOrgId: fedec2c0-8b03-4d51-8521-b46a0f83c459
  externalInviteOverride: 'https://new-console.ng.bluemix.net/apis/catalog/invitation'
  externalSpaceId: fedec2c0-8b03-4d51-8521-b46a0f83c459
  externalNativeOrgId: d4789a4c-2e71-4184-bd77-6e24d41906f7
  advPortalOverride: true
  extUaaAuthenticated: false
  requiresSSLClientCertCheck: false
  dormant: false
catalog:
  id: 5836f9150cf23c3d04dcf986
  orgId: 583345b30cf2aef8bc9bfc53
  name: New Catalog 1
  shortName: new-catalog-1
  owner:
    id: 57290d7f0cf28fe1c8d4b799
    username: sakib@ca.ibm.com
    context: apimanager
    idpId: 58341db4e63b1219f0f068d1
    email: sakib@ca.ibm.com
    firstName: Sadman Sakib Hasan
    lastName: ''
    status: ACTIVE
    lastLoginTime: '2016-11-24T14:27:52.641+0000'
    url: 'https://us.apiconnect.ibmcloud.com/v1/users/57290d7f0cf28fe1c8d4b799'
  apiCenter: false
  baseUrl: 'https://api.us.apiconnect.ibmcloud.com/sakibcaibmcom-dev/new-catalog-1'
  portalType: BASIC
  portalUrl: 'https://developer.us.apiconnect.ibmcloud.com/sakibcaibmcom-dev/new-catalog-1'
  advPortalUrl: 'https://new-catalog-1-sakibcaibmcom-dev.developer.us.apiconnect.ibmcloud.com'
  gatewayType: DataPowerGateway
  idp: 56efd30e0cf24d8a758858b1
  idps:
    - 56efd30e0cf24d8a758858b1
  availableRoles:
    - viewer
    - developer
  default: false
  autoDeploy: true
  gatewayClusterUrl: /gatewayClusters/PRODAPIC_APIMGMT_GATEWAY
  restrictedDeployment: false
  invitationEnabled: true
  selfSignUpEnabled: true
  spaceEnabled: true
  spaceIds:
    - 5836f9150cf23c3d04dcf98e
    - 5836fa9f0cf23c3d04dcfaa0
  testAppEnabled: true
  testAppCredentials:
    clientId: c16fa3a6-0c19-4af8-b219-4452c9fb3953
    clientSecret: aS5qB4qB8gH3uS2uF8lI6wJ4dC1tI8lE8bC8lB5wP8lV4pS2yB
  createdAt: '2016-11-24T14:28:37.266+0000'
  updatedAt: '2016-11-24T14:35:16.069+0000'
  createdBy: sakib@ca.ibm.com
  updatedBy: sakib@ca.ibm.com
  url: >-
    https://us.apiconnect.ibmcloud.com/v1/orgs/583345b30cf2aef8bc9bfc53/environments/5836f9150cf23c3d04dcf986
  productDeploymentApprovalRequiredStates: []
  orgName: sakibcaibmcom-dev
  spaces:
    - id: 5836f9150cf23c3d04dcf98e
      name: new-space
      title: New Space
      description: Automatically created space
      owner:
        id: 57290d7f0cf28fe1c8d4b799
        username: sakib@ca.ibm.com
        context: apimanager
        idpId: 58341db4e63b1219f0f068d1
        email: sakib@ca.ibm.com
        firstName: Sadman Sakib Hasan
        lastName: ''
        status: ACTIVE
        lastLoginTime: '2016-11-24T14:27:52.641+0000'
        url: 'https://us.apiconnect.ibmcloud.com/v1/users/57290d7f0cf28fe1c8d4b799'
      createdAt: '2016-11-24T14:28:37.439+0000'
      updatedAt: '2016-11-24T14:28:37.439+0000'
      createdBy: sakib@ca.ibm.com
      updatedBy: sakib@ca.ibm.com
      url: >-
        https://us.apiconnect.ibmcloud.com/v1/orgs/583345b30cf2aef8bc9bfc53/environments/5836f9150cf23c3d04dcf986/spaces/5836f9150cf23c3d04dcf98e
      spaceConfigUrl: >-
        apic-space://us.apiconnect.ibmcloud.com/orgs/sakibcaibmcom-dev/catalogs/new-catalog-1/spaces/new-space
    - id: 5836fa9f0cf23c3d04dcfaa0
      name: sakib-space
      title: sakib space
      description: ''
      owner:
        id: 57290d7f0cf28fe1c8d4b799
        username: sakib@ca.ibm.com
        context: apimanager
        idpId: 58341db4e63b1219f0f068d1
        email: sakib@ca.ibm.com
        firstName: Sadman Sakib Hasan
        lastName: ''
        status: ACTIVE
        lastLoginTime: '2016-11-24T14:27:52.641+0000'
        url: 'https://us.apiconnect.ibmcloud.com/v1/users/57290d7f0cf28fe1c8d4b799'
      createdAt: '2016-11-24T14:35:11.770+0000'
      updatedAt: '2016-11-24T14:35:11.770+0000'
      createdBy: sakib@ca.ibm.com
      updatedBy: sakib@ca.ibm.com
      url: >-
        https://us.apiconnect.ibmcloud.com/v1/orgs/583345b30cf2aef8bc9bfc53/environments/5836f9150cf23c3d04dcf986/spaces/5836fa9f0cf23c3d04dcfaa0
      spaceConfigUrl: >-
        apic-space://us.apiconnect.ibmcloud.com/orgs/sakibcaibmcom-dev/catalogs/new-catalog-1/spaces/sakib-space
space:
  id: 5836fa9f0cf23c3d04dcfaa0
  name: sakib-space
  title: sakib space
  description: ''
  owner:
    id: 57290d7f0cf28fe1c8d4b799
    username: sakib@ca.ibm.com
    context: apimanager
    idpId: 58341db4e63b1219f0f068d1
    email: sakib@ca.ibm.com
    firstName: Sadman Sakib Hasan
    lastName: ''
    status: ACTIVE
    lastLoginTime: '2016-11-24T14:27:52.641+0000'
    url: 'https://us.apiconnect.ibmcloud.com/v1/users/57290d7f0cf28fe1c8d4b799'
  createdAt: '2016-11-24T14:35:11.770+0000'
  updatedAt: '2016-11-24T14:35:11.770+0000'
  createdBy: sakib@ca.ibm.com
  updatedBy: sakib@ca.ibm.com
  url: >-
    https://us.apiconnect.ibmcloud.com/v1/orgs/583345b30cf2aef8bc9bfc53/environments/5836f9150cf23c3d04dcf986/spaces/5836fa9f0cf23c3d04dcfaa0
  spaceConfigUrl: >-
    apic-space://us.apiconnect.ibmcloud.com/orgs/sakibcaibmcom-dev/catalogs/new-catalog-1/spaces/sakib-space
app:
  metadata:
    guid: 13d1c315-b14b-4489-8bdf-3562e12b912d
  entity:
    guid: 13d1c315-b14b-4489-8bdf-3562e12b912d
    name: newapp
    routes:
      - guid: fe274206-15f3-42a7-8d5a-084abb97b094
        host: apiconnect-13d1c315-b14b-4489-8bdf-3562e12b912d
        port: null
        path: ''
        domain:
          guid: 45cb285c-ffca-44b1-aa8b-e95ac1e8da26
          name: sakibcaibmcom-dev.apic.mybluemix.net
    running_instances: 0
    services: []
    available_domains:
      - guid: 45cb285c-ffca-44b1-aa8b-e95ac1e8da26
        name: sakibcaibmcom-dev.apic.mybluemix.net
        owning_organization_guid: d4789a4c-2e71-4184-bd77-6e24d41906f7
      - guid: af1d491d-30cd-4706-b20f-5ddc584fae78
        name: sakibcaibmcom-cascon.apic.mybluemix.net
        owning_organization_guid: d4789a4c-2e71-4184-bd77-6e24d41906f7
      - guid: f4b90d7e-2cd3-4d30-b200-f28bbaf6be20
        name: mybluemix.net
        router_group_guid: null
        router_group_type: null
    production: false
    space_guid: fedec2c0-8b03-4d51-8521-b46a0f83c459
    stack_guid: ac91d31a-86a3-453b-babf-8d49c9d763fc
    buildpack: null
    detected_buildpack: null
    environment_json: {}
    memory: 256
    instances: 1
    disk_quota: 1024
    state: STOPPED
    version: 08901c36-7322-4b85-aabb-3a50c2c1f179
    command: null
    console: false
    debug: null
    staging_task_id: null
    package_state: PENDING
    health_check_type: port
    health_check_timeout: null
    staging_failed_reason: null
    staging_failed_description: null
    diego: false
    docker_image: null
    package_updated_at: null
    detected_start_command: ''
    enable_ssh: true
    docker_credentials_json:
      redacted_message: '[PRIVATE DATA HIDDEN]'
    ports: null
id: d9856231-2407-4438-9518-668ed8e89889
target: 1.0.0
versionOptions:
  inplaceUpdate: true
publishApp: true
publishProducts: true
specificProducts: true
workspaceDir:
  path: /Users/ssh/workspace/loopback/apic/nov16/5050test
