type: bluemix
server:
  displayName: US South
  name: us-south
  host: us.apiconnect.ibmcloud.com
org:
  url: 'https://us.apiconnect.ibmcloud.com/v1/orgs/57290d7f0cf28fe1c8d4b79c'
  id: 57290d7f0cf28fe1c8d4b79c
  name: sakibcaibmcom-dev
  status: active
  orgType: apiProvider
  displayName: sakib@ca.ibm.com (dev)
  externalOrgId: fedec2c0-8b03-4d51-8521-b46a0f83c459
  externalInviteOverride: 'https://new-console.ng.bluemix.net/apis/catalog/invitation'
  externalSpaceId: fedec2c0-8b03-4d51-8521-b46a0f83c459
  externalNativeOrgId: d4789a4c-2e71-4184-bd77-6e24d41906f7
  advPortalOverride: true
  extUaaAuthenticated: false
  requiresSSLClientCertCheck: false
catalog:
  id: 57290d7f0cf28fe1c8d4b7a3
  shortName: sb
  name: Sandbox
  sandbox: true
app:
  metadata:
    guid: 215fca2e-e8a6-499e-a757-089786db6603
    url: /v2/apps/215fca2e-e8a6-499e-a757-089786db6603
    created_at: '2016-05-09T14:41:03Z'
    updated_at: '2016-05-09T14:42:19Z'
  entity:
    name: Test090516
    production: false
    space_guid: fedec2c0-8b03-4d51-8521-b46a0f83c459
    stack_guid: ac91d31a-86a3-453b-babf-8d49c9d763fc
    buildpack: null
    detected_buildpack: 'SDK for Node.js(TM) (ibm-node.js-4.4.3, buildpack-v3.3-20160428-1409)'
    environment_json: {}
    memory: 256
    instances: 1
    disk_quota: 1024
    state: STARTED
    version: f7e700d7-fee2-4bfc-aaa0-7e5b42da090f
    command: null
    console: true
    debug: null
    staging_task_id: 8eee5d36610a405a9d1127dc9c937ae4
    package_state: STAGED
    health_check_type: port
    health_check_timeout: null
    staging_failed_reason: null
    staging_failed_description: null
    diego: false
    docker_image: null
    package_updated_at: '2016-05-09T14:41:11Z'
    detected_start_command: ./vendor/initial_startup.rb
    enable_ssh: true
    docker_credentials_json:
      redacted_message: '[PRIVATE DATA HIDDEN]'
    ports: null
    space_url: /v2/spaces/fedec2c0-8b03-4d51-8521-b46a0f83c459
    stack_url: /v2/stacks/ac91d31a-86a3-453b-babf-8d49c9d763fc
    events_url: /v2/apps/215fca2e-e8a6-499e-a757-089786db6603/events
    service_bindings_url: /v2/apps/215fca2e-e8a6-499e-a757-089786db6603/service_bindings
    routes_url: /v2/apps/215fca2e-e8a6-499e-a757-089786db6603/routes
id: 57dd405d-3602-4069-9432-961ec4157c14
target: 1.0.0
publishApp: true
workspaceDir:
  path: /Users/ssh/Desktop/API/APIC/090516/first
